.pagi
  %ul{id: "pagination-flickr"}
    - if @comments.first_page? then
      %li{class: "previous-off"}
        %a << prev
    - else
      %li{class: "previous"}
        %a{href: @comments.prev_page} << prev
    - (1..@comments.page_count).each do |i|
      - if @comments.current_page == i then
        %li{class: "active"}= i
      - else
        %li
          %a{href: i}= i
    - if @comments.last_page? then
      %li{class: "next-off"}
        %a next >>
    - else
      %li{class: "next"}
        %a{href: @comments.next_page} next >>
    .cl
